*.env
*.code-workspace
*.ics
*.log
.DS_Store
*.spec
.pipreqs

dev_*.*
ignore_*.*
old_*.*
test_*.*
test*.*


.venv/
__pycache__/
build/
Output/
webui/
.vscode/
data_multithread.py
schedulePS.json
.idea/*
*.html
